* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #d6d6d6;
}

h1 {
    text-align: center;
    color: black;
}

section {
    border: 1px solid black;
    background-color: #b5c4d2;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

section.coursera>h2 {
    background-color: #76b8db;
}

section.udacity>h2 {
    background-color: #4f7acd;
}

section.udemy>h2 {
    color: #e2e2e2;
    background-color: #10328a;
}

section>p {
    padding: 40px 15px 15px 15px;
}

.row {
    width: 100%;
}


/* Desktop view */

@media (min-width: 992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 74.99%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
    .col-a, .col-b, .col-c, .col-d, .col-e, .col-f, .col-g, .col-h, .col-i, .col-j, .col-k, .col-l {
        float: left;
    }
    .col-a {
        width: 8.33%;
    }
    .col-b {
        width: 16.66%;
    }
    .col-c {
        width: 25%;
    }
    .col-d {
        width: 33.33%;
    }
    .col-e {
        width: 41.66%;
    }
    .col-f {
        width: 50%;
    }
    .col-g {
        width: 58.33%;
    }
    .col-h {
        width: 66.66%;
    }
    .col-i {
        width: 74.99%;
    }
    .col-j {
        width: 83.33%;
    }
    .col-k {
        width: 91.66%;
    }
    .col-l {
        width: 100%;
    }
}


/* Mobile view */

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

